.ion-color-duoc {
	--ion-color-base: var(--ion-color-duoc);
	--ion-color-base-rgb: var(--ion-color-duoc-rgb);
	--ion-color-contrast: var(--ion-color-duoc-contrast);
	--ion-color-contrast-rgb: var(--ion-color-duoc-contrast-rgb);
	--ion-color-shade: var(--ion-color-duoc-shade);
	--ion-color-tint: var(--ion-color-duoc-tint);
}
.ion-color-amarilloduoc {
	--ion-color-base: var(--ion-color-amarilloduoc);
	--ion-color-base-rgb: var(--ion-color-amarilloduoc-rgb);
	--ion-color-contrast: var(--ion-color-amarilloduoc-contrast);
	--ion-color-contrast-rgb: var(--ion-color-amarilloduoc-contrast-rgb);
	--ion-color-shade: var(--ion-color-amarilloduoc-shade);
	--ion-color-tint: var(--ion-color-amarilloduoc-tint);
}

.titulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    letter-spacing: 1.5px;
    font-size: 13px;

}

.tituloCard{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    letter-spacing: 1px;
    font-size: 18px;
	text-align:center;
}
.FAQ{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
    letter-spacing: 1px;
    font-size: 12px;
	text-align:center;
}
.fondo{
    --background: url(/assets/background_duoc.jpg) 0 0/130% 100%;
	
}

.marginTopInicioSesion{
	margin-top: 50%;
}

.parrafo1{
    text-align: justify;
    color: #000000;
    
    
}
.fotos{
    display: flex;
    weight: 10px
}
div.img{

	display:table;
  
  }
  
  div.img img{
  
   margin:0;
  
   padding:0;
  
  }
  
  div.img span{
  
   line-height:normal;
  
   font-size:10px;
  
   display:block;
  
   margin:0;
  
   background:#000000;
  
   color:white;
  
   font-style:italic;
  
   padding:5px;
  
   text-align:left;
  
  }