<ion-header>
  <ion-toolbar color="duoc" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="chevron-back-outline" color="amarilloduoc"></ion-back-button>
    </ion-buttons>

    <ion-title class="titulo">Información</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
 
  <ion-card >
    <ion-card-content >
      <img src="assets/DuocLogo.jpg">
      <p class="tituloCard">Acerca de</p><br>
      
      <p class="tituloCard">
        Versión: Beta 0.5
      </p>
      <br>
      <p class="FAQ" routerLink="/prueba-firebase">Si tienes dudas acercate a nuestro <a href="prueba-firebase">FAQ</a></p>

      <p class="tituloCard">
        Ignacio Salazar | Brian Urbina   |Maximiliano Blamey | Manuel Diaz</p>
      
  
    </ion-card-content> 
  </ion-card>

</ion-content>      

<!--<ion-content   >
 
  <ion-card >
    <ion-card-content >
      <img src="assets/duocLogo.png">
      <p class="tituloCard">!Bienvenido a nuestra nueva forma de registrar tu asistencia! </p><br>
      
      <p class="parrafo1">
        En esta sección de la aplicación tendrás una pequeña ayuda para entender el funcionamiento de esta misma. 
        Sigue las instrucciones y te acomodarás fácilmente al nuevo sistema.
      </p><br> 
      <p class="parrafo1">Con esta aplicación se hará muchisimo más fácil el registro de la asistencia, tanto para el docente como para los alumnos. Haciendo mas fluida la interacción entre los usuarios con el fin de minimizar errores y mejorar el proceso de registro. </p>     
    </ion-card-content>
    <ion-card-content>
      <p class="parrafo1">Como primera instrucción deberás Iniciar Sesión si tienes una cuenta o registrarte si no la tienes.<br>
         Primero vayamos con el registro, en la pantalla principal verás esto:</p><br>
         <img src="assets/pagesesion.png">
      <p class="parrafo1">Una vez selecciones la opción "Registrarse" entrarás en la siguiente vista. Donde se te mostrará el como quieres iniciar sesión con dos opciones, Docente o Alumno</p><br>
         <img src="assets/pageregistro.png">
      <p class="parrafo1">Al seleccionar ambas opciones nos mandará a un formulario donde lo deberas llenar con tu correo, contraseña  y tu rut.</p><br>
       
        <div class="img"><img src="assets/registroalumno.png"><span class="piedefoto">Vista en alumno, en el docente se usa el mismo formulario</span></div><br>

        <p class="parrafo1">Una vez que te registres podras ir a iniciar sesión, ingresas tus datos  y te llevara a la pagina principal donde si eres profesor te mostrará "Generar QR". <br>
          <img src="assets/generarqr.png"> por el contrario, si eres alumno te mostrará "Leer código QR".<img src="assets/leerqr.png"></p><br>
        <p class="parrafo1">Al hacer tap en generar código QR, este enviará una alerta con la fecha y hora con la cual se generará el código. <br> <img src="assets/dateqr.png"> <br>
        y al darle a listo nos mandará al código generado que nos saldra juntoa un botón donde podremos regresar a "Generar QR".<br><img src="assets/qr.png"><br> 
        Por el lado del estudiante la mecanica es la misma, al seleccionar "Leer código QR". <br> <img src="assets/leerqr.png"> Se nos activará la camara lista para escánear el codigo generado por el profesor. <br> 
        <img src="assets/accesocamara.png"><br> Una vez escaneado nos registrará la asistencia exitosamente. </p>
    </ion-card-content>
    
  </ion-card>

</ion-content> -->
