.ion-color-duoc {
	--ion-color-base: var(--ion-color-duoc);
	--ion-color-base-rgb: var(--ion-color-duoc-rgb);
	--ion-color-contrast: var(--ion-color-duoc-contrast);
	--ion-color-contrast-rgb: var(--ion-color-duoc-contrast-rgb);
	--ion-color-shade: var(--ion-color-duoc-shade);
	--ion-color-tint: var(--ion-color-duoc-tint);
}
.ion-color-amarilloduoc {
	--ion-color-base: var(--ion-color-amarilloduoc);
	--ion-color-base-rgb: var(--ion-color-amarilloduoc-rgb);
	--ion-color-contrast: var(--ion-color-amarilloduoc-contrast);
	--ion-color-contrast-rgb: var(--ion-color-amarilloduoc-contrast-rgb);
	--ion-color-shade: var(--ion-color-amarilloduoc-shade);
	--ion-color-tint: var(--ion-color-amarilloduoc-tint);
}

.titulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.subtitulo{
    font-family: fantasy;
    letter-spacing: 1.5px;
    font-size: 18px;
}

.marginTopregistro{
	margin-top: 10%;
}
.qr{
	align-self: center;
}
.round {
    --width: 100px;
    --height: 180px;

  }
.boton {
    height: 50px;
	width: 150px;
	margin-left: 10%;
}
.boton2 {
    height: 50px;
	width: 150px;
	margin-right: 10%;
}
.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
  }
