<ion-header>
  <ion-toolbar color="duoc" mode="ios" >



    <ion-buttons slot="start" >
      <ion-button (click)="mostrarMenu()" >
        <ion-icon slot="start" name="logo-ionic" color="amarilloduoc" >
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button routerLink="/informacion">
        <ion-icon slot="end" name="information-circle" color="amarilloduoc"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="titulo">Inicio</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="fondo">

  <ion-card >
    <ion-card-content >
      <img src="assets/DuocLogo.jpg">
      <p class="tituloCard">!Bienvenido a nuestra nueva forma de reservar las salas de estudio!</p><br>
      
      <p class="parrafo1">
        En esta aplicación podrás reservar salas de estudio de manera sencilla e intuitiva!!.
      </p><br> 
      <p class="parrafo1">Para iniciar tu experiencia, toca el menú desplegable que está en la esquina superior izquierda.</p><br> 
      <p class="parrafo1">Si quieres cerrar tu sesión, toca el botón ubicado en la esquina superior derecha o dentro del menú desplegable.</p>
    </ion-card-content>   
  </ion-card>


 

</ion-content>
